/notebook/mlruns
/notebook/Tentativa_4_2023-10-16_19-02-54
/notebook/Tentativa_5_2023-10-17_17-35-49
/notebook/Tentativa_5_2023-10-17_17-40-02
/.venv
/__pycache__
/docker_requirements.txt
/Gradient_Boosting_1009_test_conf_matrix.png
/Gradient_Boosting_1009_test_roc_curve.png
/archive.zip
/lung_cancer_app.mp4